.contenedor_footer{
    display: flex;
    align-items: center;
}

.footer{
    height: 100px;
    width: 200px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.icono-redes{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}