/*HERO SECTION*/
.hero_section {
    position: relative; /* Asegurar que los elementos hijos absolutos se posicionen dentro */
    height: 90vh;
    color: $beige;
    text-align: center;
    display: flex;
    justify-content: center;

    .background-video {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $verde-oscuro;
        opacity: 0.25;
        z-index: -0.95;
    }
    .texto_hero {
        height: 80vh;
        position: absolute; 
        z-index: 1; 
        text-align:center;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 20px;
            font-family: $fuente-subtitulos;
        }
        p{
            font-family: "inter";
            font-size: 15px;
        }
    }
@media (min-width: 600px){
    .texto_hero{
        h1{
            font-size: 80px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }
}

.marco-manifiesto{
    background-color: $verde-oscuro;
    margin-top: 40px;
    margin-bottom: 40px;
    width: max-content;
    width: 100%;
    height: 70px;
    overflow: hidden;
    .manifiesto{
        color:$beige;
        font-family: $fuente-titulos;
        font-size: 40px;
        animation: scrollText 15s linear infinite;
        width: 100%;
        height: 80px;
        white-space: nowrap;
    }
    
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.por-que{
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.titulo_testimonios{
    color: $beige;
    font-family: $fuente-titulos;
    text-align: center;
    font-size: 1.5rem;
    background-color: $verde-oscuro;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
}

.titulo{
    color: $verde-oscuro;
    font-family: $fuente-titulos;
    text-align: center;
    font-size: 2.5rem;
    margin: 10px;
}

.cuadro_texto{
    background-color: #17292d;
    color: $beige;
    padding: 15px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: lighter;
}

@media (min-width: 600px){
    .titulo{
        font-size: 80px;
    }
    .cuadro_texto{
        font-size: 20px;
        max-width: 800px;
    }
}

/*SERVICIOS*/
.contenedor_general_servicios_index{
    a{
        border-radius:50% ;
    }
}

.contenedor_servicios_index{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50%;
    .contenedor_servicios_imagen_index{
        position: absolute;
        object-fit: cover;
        z-index: -1;
        border-radius: 50%;
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }

    .contenedor_servicios_overlay_index{
        width: 300px;
        height: 300px;
        position: absolute;
        background-color: $verde-oscuro;
        opacity: 0.5;
        top:0;
        z-index: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;
        border-radius: 50%;
    }
    &:hover .contenedor_servicios_overlay_index{
        opacity: 0;
    }

    .contenedor_servicios_texto_index{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        height: 300px;
        position: absolute;
        top:0;
        z-index: 1;
        color: $beige;
        border-radius: 50%;
        h3{
            font-family: $fuente-titulos;
            font-size: 40px;
            text-align: center;
        }
        .pricing{
            font-family: 'Amandine';
            font-size: 35px;
            small{
                font-size: 15px
            }
        }
    }

}



/*TESTIMONIOS*/

.contenedor_cards_testimonios{
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 20px;
    position: relative;
    background-color: $verde-oscuro;
}

.card-testimonios{
    height: 30vh;
    background-color: $beige;
    .foto-testimonio{
        margin: 40px;
        position: absolute;
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        top:-110px;
        left: -50px;
        box-shadow: 2px 2px 5px gray;
        }
}

.card-body-testimonios{
    text-align: center;
    height: 40vh;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 150px;
            height: auto;
            margin-bottom:0px;
            padding: 0;
        }
    }
}

.card-title_testimonios{
    padding-top: 10px;
    font-family: $fuente-titulos;
    color: $verde-oscuro;
}

.card-text_testimonios{
    font-family: 'Inter';
    color: $verde-oscuro;
    padding-left: 20px;
    padding-right: 20px;
}

.red_testimonios{
    font-size: 12px;
    font-family: $fuente-subtitulos;
    text-align: center;
}

@media (min-width: 600px){
    .contenedor_cards_testimonios{
        height: 80vh;
    }
}

.cta_general{
    overflow: hidden;
}

.cta{
    width: 90%;
    height: 80vh;
    font-family: $fuente-titulos;
    font-size: 2rem;
    margin: 10px;
    z-index: 1;
    position: absolute;
    .quote-icon-open{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 6rem;
    color: $beige;  
    background-color: $verde-oscuro;
    border-radius: 50%;
    opacity: 0.5;
    position: relative;     
    }
    p{
        font-family: $fuente-titulos;
        padding-left:30px;
        position: absolute;
        top: 50px;
    }
}

@media (min-width: 600px){
    .cta {
        font-size: 3rem;
    }
}

.imagen-cta{
    z-index: -1;
    position: relative;
    width: 80%;
    height: 80vh;
    object-fit: cover;
    opacity: 0.25;
    left:30%;
}