.navbar-nav{
    color: $verde-oscuro;
    &:hover{
        color: $verde-claro;
    }
}

header nav{
    color: $verde-oscuro;
    box-shadow: 2px 2px 10px gray;
}

.logo_menu{
    width: 60px;
    height: auto;
    background-color: $verde-oscuro;
    border-radius: 50%;
}

.navbar-toggler{
    border: none;
}

.dropdown-menu{
    background:white;
    border-radius: none;
    border: none;
    color: $gris;
    li > a:hover{
        background-color: transparent;
        font-style: italic;
        color: $verde-claro;
    }
}

.nav-item.dropdown .nav-link {
    display: inline-block;
    padding-right: 0.3rem;
}

.nav-item.dropdown .dropdown-toggle {
    padding-left: 0.2rem;
}