.recursos_contenedor_inicial{
    position: relative;
    height: 80vh;
    .recursos_imagen{
        position: absolute;
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: top center;
        z-index: -1;
        img{
            height: 50vh;
            width: 100%;
            object-fit: cover;
            object-position: top center;
        }
    }
    .recursos_texto_inicial{
        width: 80%;
        position: absolute;
        background-color: $beige;
        display: flex;
        flex-direction: column;
        top: 30%;
        right: 10%;
        padding: 15px;
        border: 1px solid $verde-oscuro;
        border-radius: 20px;
        box-shadow: 2px 2px 5px gray;
        h1{
            text-align: center;
            font-size: 1.2rem;
        }
        h2{
            font-family: 'Inter';
            font-weight: 200;
            font-size: 0.8rem;
            text-align: center;
        }
    }
}

@media(min-width:600px){
    .recursos_contenedor_inicial{
        position:static;
        display: flex;
        flex: row;
        .recursos_imagen{
            position: static;
            height: 100%;
            img{
                height: 100%;
                object-position: center center;
            }
        }
        .recursos_texto_inicial{
            position: static;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            h1{
                font-size: 2rem;
            }
            h2{
                font-size: 1.2rem;
            }
            button{
                width: 60%;
            }
        }
    }
}

.cta_recursos{
    background-color: $verde-oscuro;
    color: $beige;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px 5px gray;
    p{
        font-family: 'Amandine';
        font-size: 1.5rem;
        text-align: center;
    }
    
}

.contenedor_recursos_descripcion{
    padding: 1rem;
    background-color: $verde-oscuro;
    color: $beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .texto_recursos_descripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        font-weight: 200;
        font-size: 1.1rem;
        ul li{
            list-style: none;
        }
    }
    img{
        width: 100%;
        height: 70vh;
        object-fit: cover;
        object-position: top center;
        margin-bottom: 1rem;
    }
}
