.recursos{
    position: relative; /* Asegurar que los elementos hijos absolutos se posicionen dentro */
    height: 220vh;
    color: $beige;
    text-align: center;
    display: flex;
    justify-content: center;
    .video_recursos{
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.5;
    }
    
    .overlay_recursos{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $verde-oscuro;
        opacity: 0.5;
        z-index: -0.95;
    }
    
    .texto_recursos{
        position: absolute; 
        z-index: 1; 
        text-align:center;
        align-items: center;
        justify-content: center;
        color: $beige;
        h1{
            font-size: 2rem;
            margin: 20px;
        }
        h2{
            font-family:'Inter';
            font-weight: 200;
            font-size: 1rem;
            margin: 20px;
        }
    }
}

.contenedor-formulario{
    min-width: 40%;
}

.texto_recursos_descripcion{
        font-family: 'Inter';
        font-weight: 300;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 0.9rem;
        background-color: $verde-oscuro;
        border-radius: 10px;
        opacity: 0.9;
        padding:2%;
        color: $beige;
        box-shadow: 2px 2px 5px black;
        text-align: start;
        padding: 10px;
    ul{
        list-style: none;
        
    }
}


@media (min-width:768px){
    .recursos{
        height: 120vh;
    }
    .texto_recursos_descripcion{
        font-size: 1.1rem;
    }
}

.cta_recursos{
    background-color: $verde-oscuro;
    color: $beige;
    p{
        font-family: 'Amandine';
        font-size: 1.5rem;
        text-align: center;
        padding: 5px;
    }
    
}