.titulos_servicios{
    padding: 10px;
    margin: 10px;
    h1{
        font-size: 40px;
        text-align: center;
    }
    h2{
        font-weight: lighter;
        font-family: 'Inter';
        font-size: 18px;
    }
}

.contenedor_servicios{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    .contenedor_servicios_imagen{
        position: absolute;
        object-fit: cover;
        z-index: -1;
        img{
            width: 300px;
            height: 300px;
        }
    }

    .contenedor_servicios_overlay{
        width: 300px;
        height: 300px;
        position: absolute;
        background-color: $verde-oscuro;
        opacity: 0.5;
        top:0;
        z-index: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }
    &:hover .contenedor_servicios_overlay{
        opacity: 0;
    }

    .contenedor_servicios_texto{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        height: 300px;
        position: absolute;
        top:0;
        z-index: 1;
        color: $beige;
        h3{
            font-family: $fuente-titulos;
            font-size: 30px;
            text-align: center;
        }
        p{
            font-size: 14px;
        }
    }
}

    /*SERVICIOS-C/U*/
    .titulo_servicios{
        font-size: 2rem;
        margin: 20px;
        text-align: center;
    }

    .subtitulo_servicios{
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.1rem;
        font-family: 'Inter';
        font-weight: lighter;
    }
    
    .scroll-container {
        display: flex;
        overflow-x: auto;
        gap: 16px;
        padding: 16px;
        align-items: center;
        justify-content: start;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .col{
            min-width: 250px;
            max-width: 280px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .scroll_redes {
        display: flex;
        overflow-x: auto;
        gap: 16px;
        padding: 16px;
        align-items: center;
        justify-content: space-around;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .col{
            min-width: 250px;
            max-width: 280px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    @media (min-width: 768px){
        .scroll-container{
            justify-content: center;
        }
        
        .scroll_redes{
            justify-content: space-around;
        }
    }

    .card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }

    .card-body{
        border-radius: 10px;
        background-color: white;
        width: 100%;
        min-height: 82vh;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            background-color: white;
        }
        h2{
            font-size: 20px;
            font-family: 'Amandine';
            color: $verde-oscuro;
            text-align: center;
            height: 4rem;
        }
        h3{
            height: 4rem;
            margin: 10px;
            font-size: 2rem;
            font-family: $fuente-titulos;
        }
        ul li {
            list-style: none;
            background-image: url('../recursos/check.png');
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: 0 5px;
            padding-left: 30px; /* deja hueco para el icono */
            color: $verde-claro;
            font-family: 'Inter';
            font-weight: 300;
            font-size: 14px;
        }
        div > p {
            font-size: 10px;
            color: gray;
            font-style: italic;
        }
    }

    .pricing-card-title{
        font-size: 40px;
        small{
            font-size: 20px;
        }
    }

.cta_servicios{
    background-color: $verde-oscuro;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        text-align: center;
        color: $beige;
        font-family: $fuente-titulos;
        font-size: 2rem;
    }
    
}