@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*VARIABLES GENERALES*/
$fuente-titulos:"Amandine";
$fuente-subtitulos:"Playfair Display";
$verde-oscuro:#17292d;
$verde-claro: #929e9e;
$beige: #f5f2ea;
$gris: #2f2d2c;

/*FUENTES*/
@font-face {
    font-family: 'Amandine';
    src: url('https://vaviciana.github.io/emete-mkt/recursos/fuentes/Amandine-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amandine_resaltado';
    src: url('https://vaviciana.github.io/emete-mkt/recursos/fuentes/Amandine-bolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-family: 'Amandine', sans-serif;
}

p{
    font-family: 'Inter';
}

.resaltado{
    font-family: 'Amandine_resaltado', sans-serif;
}


/*ESTILOS GENERALES*/
body{
    background-color: $beige;
}

.boton{
    background-color: $verde-oscuro;
    color: $beige;
    border-radius: 9999px;
  padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family:$fuente-subtitulos;
    a{
        text-decoration: none;
            font-family:$fuente-subtitulos;
            color: $beige;
    
    }
    &:hover{
        background-color: $beige;
        border:1px solid #17292d;
        color: $verde-oscuro;
        font-family:$fuente-subtitulos;
        a{
            
            font-family:$fuente-subtitulos;
            color: $verde-oscuro;
            text-decoration: none;
        }
    }
}
.boton-acotado{
    max-width: 40%;
}

/*MENU*/
@import 'partials/menu';

/*FOOTER*/
@import 'partials/footer';

/*INICIO*/
@import 'partials/index';

/*SOBRE NOSOTRAS*/
@import 'partials/sobrenosotras';

/*SERVICIOS*/
@import 'partials/servicios';

/*CONTACTO*/
@import 'partials/contacto';

/*RECURSOS*/
@import 'partials/recursos';

/*FAQS*/
@import 'partials/faqs';

/*BLOG*/
@import 'partials/blog'