@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

/*VARIABLES GENERALES*/
/*ESTILOS GENERALES*/
/*FONDO*/
body {
  background-color: #f5f2ea;
}

/*HEADER*/
header nav {
  color: #17292d;
}

.logo_menu {
  width: 60px;
  height: auto;
  background-color: #17292d;
  border-radius: 50%;
}

.navbar-toggler {
  border: none;
}

.boton {
  background-color: #17292d;
  color: #f5f2ea;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-family: "Playfair Display";
}
.boton:hover {
  background-color: none;
  border: 1px solid #17292d;
  color: #17292d;
}

.boton-acotado {
  max-width: 40%;
}

/*FOOTER*/
.contenedor_footer {
  display: flex;
  align-items: center;
}

.footer {
  height: 100px;
  width: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.icono-redes {
  width: 30px;
  height: 30px;
}

/*FUENTES*/
@font-face {
  font-family: "Amandine";
  src: url("https://vaviciana.github.io/emete-mkt/recursos/fuentes/Amandine-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amandine_resaltado";
  src: url("https://vaviciana.github.io/emete-mkt/recursos/fuentes/Amandine-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
h1 {
  font-family: "Amandine", sans-serif;
}

p {
  font-family: "Inter";
}

.resaltado {
  font-family: "Amandine_resaltado", sans-serif;
}

/*MENU*/
.navbar-nav {
  color: #17292d;
}
.navbar-nav:hover {
  color: #929e9e;
}

.dropdown-menu {
  background: white;
  border-radius: none;
  border: none;
  color: #2f2d2c;
}
.dropdown-menu li > a:hover {
  background-color: transparent;
  font-style: italic;
  color: #929e9e;
}

/*INICIO*/
/*HERO SECTION*/
.hero_section {
  position: relative; /* Asegurar que los elementos hijos absolutos se posicionen dentro */
  height: 90vh;
  color: #f5f2ea;
  text-align: center;
  display: flex;
  justify-content: center;
}
.hero_section .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17292d;
  opacity: 0.25;
  z-index: -0.95;
}

.texto_hero {
  height: 80vh;
  position: absolute;
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.texto_hero h1 {
  font-size: 40px;
}
.texto_hero h2 {
  font-size: 20px;
  font-family: "Playfair Display";
}
.texto_hero p {
  font-family: "inter";
  font-size: 15px;
}

@media (min-width: 600px) {
  .texto_hero h1 {
    font-size: 80px;
  }
  .texto_hero h2 {
    font-size: 40px;
  }
  .texto_hero p {
    font-size: 30px;
  }
}
.marco-manifiesto {
  background-color: #17292d;
  margin-top: 40px;
  margin-bottom: 40px;
  width: max-content;
}
.marco-manifiesto .manifiesto {
  color: #f5f2ea;
  font-family: "Amandine";
  font-size: 40px;
  animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.por-que {
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-family: "Amandine";
  text-align: center;
  font-size: 40px;
  margin: 10px;
}

.cuadro_texto {
  background-color: #17292d;
  color: #f5f2ea;
  padding: 15px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
  font-size: 18px;
  font-family: "Inter";
  font-weight: lighter;
}

@media (min-width: 600px) {
  .titulo {
    font-size: 80px;
  }
  .cuadro_texto {
    font-size: 20px;
    max-width: 800px;
  }
}
.card-img-top {
  width: 100%; /* O ajusta según necesites */
  height: 200px; /* O ajusta según la altura que necesites */
  object-fit: cover;
}

.card-title {
  font-family: "Amandine";
  position: relative;
  margin-top: 40px;
}

.numeracion {
  width: 80px; /* Tamaño del círculo */
  height: 80px;
  background-color: #f5f2ea; /* Color beige */
  border-radius: 50%;
  position: absolute;
  top: 160px; /* Ajusta la posición para que se solape con la tarjeta */
  left: 50%;
  transform: translateX(-50%); /* Centra el círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #17292d; /* Color del número */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  font-family: "Amandine";
}

.cuerpo-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*TESTIMONIOS*/
.contenedor_cards_testimonios {
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 20px;
  position: relative;
  background-color: #17292d;
}

.card-testimonios {
  height: 40vh;
  background-color: #f5f2ea;
}
.card-testimonios .foto-testimonio {
  margin: 40px;
  position: absolute;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  top: -110px;
  left: -50px;
  box-shadow: 2px 2px 5px gray;
}

.card-body-testimonios {
  text-align: center;
  height: 40vh;
}
.card-body-testimonios div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-body-testimonios div img {
  width: 150px;
  height: auto;
  margin-bottom: -30px;
  padding: 0;
}

.red_testimonios {
  font-size: 12px;
  font-family: "Playfair Display";
  text-align: center;
}

@media (min-width: 600px) {
  .contenedor_cards_testimonios {
    height: 80vh;
  }
}
.cta {
  width: 90%;
  height: 80vh;
  font-family: "Amandine";
  font-size: 2rem;
  margin: 10px;
  z-index: 1;
  position: absolute;
}
.cta .quote-icon-open {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 6rem;
  color: #f5f2ea;
  background-color: #17292d;
  border-radius: 50%;
  opacity: 0.5;
  position: relative;
}
.cta p {
  font-family: "Amandine";
  padding-left: 30px;
  position: absolute;
  top: 50px;
}

@media (min-width: 600px) {
  .cta {
    font-size: 3rem;
  }
}
.imagen-cta {
  z-index: -1;
  position: relative;
  width: 80%;
  height: 80vh;
  object-fit: cover;
  opacity: 0.25;
  left: 30%;
}

/*CONTACTO*/
.titulo-contacto {
  font-size: 4rem;
  text-align: center;
}

.contenedor-imagen {
  position: relative;
  z-index: -1;
  object-fit: cover;
}
.contenedor-imagen .imagen-contacto {
  width: 300px;
  height: auto;
}

.overlay-contacto {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100%;
  width: 300px;
  background: #17292d;
  opacity: 0.25;
}

.contenedor_formulario {
  width: 80%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 50px;
  background-color: #17292d;
  color: #f5f2ea;
  border-radius: 20px;
  max-width: 400px;
}

.lineas_formulario {
  display: flex;
  flex-direction: column;
}

.cuadro_texto_formulario {
  width: 100%;
}

/*SERVICIOS*/
.titulos_servicios {
  padding: 10px;
  margin: 10px;
}
.titulos_servicios h1 {
  font-size: 40px;
  text-align: center;
}
.titulos_servicios h2 {
  font-weight: lighter;
  font-family: "Inter";
  font-size: 18px;
}

.contenedor_servicios {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
}
.contenedor_servicios .contenedor_servicios_imagen {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.contenedor_servicios .contenedor_servicios_imagen img {
  width: 300px;
  height: 300px;
}
.contenedor_servicios .contenedor_servicios_overlay {
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: #17292d;
  opacity: 0.5;
  top: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.contenedor_servicios:hover .contenedor_servicios_overlay {
  opacity: 0;
}
.contenedor_servicios .contenedor_servicios_texto {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: 1;
  color: #f5f2ea;
}
.contenedor_servicios .contenedor_servicios_texto h3 {
  font-family: "Amandine";
  font-size: 30px;
  text-align: center;
}
.contenedor_servicios .contenedor_servicios_texto p {
  font-size: 14px;
}

/*SERVICIOS-C/U*/
.titulo_servicios {
  margin: 20px;
  text-align: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  scroll-snap-type: x mandatory;
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scroll-container .col {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.card-body h2 {
  font-size: 20px;
  font-family: "Amandine_resaltado";
  color: #17292d;
  text-align: center;
}
.card-body h3 {
  font-size: 40px;
}
.card-body ul li {
  list-style: none;
  background-image: url("../recursos/check.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 30px; /* deja hueco para el icono */
  color: #929e9e;
}
.card-body div > p {
  font-size: 10px;
  color: gray;
  font-style: italic;
}

.pricing-card-title {
  font-size: 40px;
}
.pricing-card-title small {
  font-size: 20px;
}

/*SOBRE NOSOTRAS*/
.sobrenosotras_manifiesto {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  background-color: #17292d;
  color: #f5f2ea;
}
.sobrenosotras_manifiesto h1 {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .sobrenosotras_manifiesto h1 {
    font-size: 2.5rem;
  }
}
.sobrenosotras {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}
.sobrenosotras.reverse {
  flex-direction: row-reverse;
}
.sobrenosotras .sobrenosotras_imagen img {
  display: flex;
  align-items: end;
  width: auto;
  max-width: 300px;
  height: 80vh;
  object-fit: cover;
  object-position: center left;
  opacity: 0.5;
  margin-bottom: 100px;
}
.sobrenosotras .sobrenosotras_texto {
  position: absolute;
  top: 45%;
  left: 5%;
  margin: 15px;
}
.sobrenosotras .sobrenosotras_texto h2 {
  color: #17292d;
  text-align: end;
  font-family: "Amandine";
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.sobrenosotras .sobrenosotras_texto p {
  background-color: #17292d;
  opacity: 0.65;
  color: #f5f2ea;
  padding: 1.2rem;
  border-radius: 15px;
  font-size: 0.8rem;
  line-height: 1.6;
}
.sobrenosotras .sobrenosotras_texto_tere {
  left: 0;
  right: 10%;
}
.sobrenosotras .sobrenosotras_texto_tere h2 {
  text-align: start;
}
.sobrenosotras .sobrenosotras_texto_tere p {
  text-align: start;
}

@media (min-width: 600px) {
  .sobrenosotras .sobrenosotras_imagen img {
    width: 500px;
    max-width: 1000px;
  }
  .sobrenosotras .sobrenosotras_texto {
    margin-left: 100px;
    margin-right: 100px;
  }
  .sobrenosotras .sobrenosotras_texto h2 {
    font-size: 2rem;
  }
  .sobrenosotras .sobrenosotras_texto p {
    font-size: 1rem;
  }
}
.circulo-container {
  perspective: 1000px;
  width: 300px;
  height: 300px;
}

.circulo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}
.circulo:hover {
  transform: rotateY(180deg);
}
.circulo .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-family: sans-serif;
}
.circulo .frente_autenticidad {
  background: url("../recursos/autenticidad.jpg") center/cover no-repeat;
  font-family: "amandine_resaltado";
  color: #17292d;
  z-index: 1;
}
.circulo .frente_autenticidad::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f5f2ea;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_autenticidad h2 {
  font-size: 40px;
}
.circulo .atras_autenticidad {
  background: url("../recursos/autenticidad.jpg") center/cover no-repeat;
  transform: rotateY(180deg);
  position: relative;
  z-index: 1;
  color: #f5f2ea;
  font-family: "Inter";
}
.circulo .atras_autenticidad::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #17292d;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_creatividad {
  background: url("../recursos/creatividad.jpg") center/cover no-repeat;
  font-family: "amandine_resaltado";
  color: #17292d;
  z-index: 1;
}
.circulo .frente_creatividad::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f5f2ea;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_creatividad h2 {
  font-size: 40px;
}
.circulo .atras_creatividad {
  background: url("../recursos/autenticidad.jpg") center/cover no-repeat;
  transform: rotateY(180deg);
  position: relative;
  z-index: 1;
  color: #f5f2ea;
  font-family: "Inter";
}
.circulo .atras_creatividad::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #17292d;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_transparencia {
  background: url("../recursos/transparencia.jpg") center/cover no-repeat;
  font-family: "amandine_resaltado";
  color: #17292d;
  z-index: 1;
}
.circulo .frente_transparencia::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f5f2ea;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_transparencia h2 {
  font-size: 40px;
}
.circulo .atras_transparencia {
  background: url("../recursos/transparencia.jpg") center/cover no-repeat;
  transform: rotateY(180deg);
  position: relative;
  z-index: 1;
  color: #f5f2ea;
  font-family: "Inter";
}
.circulo .atras_transparencia::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #17292d;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_compromiso {
  background: url("../recursos/compromiso.jpg") center/cover no-repeat;
  font-family: "amandine_resaltado";
  color: #17292d;
  z-index: 1;
}
.circulo .frente_compromiso::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f5f2ea;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}
.circulo .frente_compromiso h2 {
  font-size: 40px;
}
.circulo .atras_compromiso {
  background: url("../recursos/compromiso.jpg") center/cover no-repeat;
  transform: rotateY(180deg);
  position: relative;
  z-index: 1;
  color: #f5f2ea;
  font-family: "Inter";
}
.circulo .atras_compromiso::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #17292d;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
